@import "libs";
@include normalize;
body {
  color: $base-font-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
}
h1 {
  font-size: $h1-font-size;
  color: #fff;
  letter-spacing: 2px;
  font-family: $font-heading;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1140px;
  margin: 0 auto;
  border: 1px solid red;
  justify-content: center;
  height: 100%;
  color: #fff;

  ul {
    margin: 2.5em 0;
  }

  @media screen and (max-width: 600px) {
    padding: 1rem;
    ul {
      margin: 0em 0;
    }
  }
}

.header-banner {
  background-image: url("/img/Rectangle_81.png");
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 600px) {
    height: 100vh;
    ul {
      margin: 2em 0;
    }
  }
}

img {
  width: 100%;
}
