.block-steps {
  background-image: url("/img/bg-two.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

.block-steps-number {
  display: inline-block;
  background: $secondary;
  color: #fff;
  text-align: center;
  font-size: $h1-font-size;
  font-family: $font-heading;
  border-radius: 50%;
  border: 11px solid #fff;
  padding: 32px 35px;
}

.block-steps-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.block-steps-desc {
  margin-top: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
