@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$base-font-family: "Roboto", sans-serif;
$font-heading: "Russo One", sans-serif;

$primary: #0b9be2;
$secondary: #3ca0d0;
$base-font-color: #3e4345;

$border-radius-base: 8px;
$font-heading-size: 32px;
$button-font-size: 14px;
$h1-font-size: 40px;
