@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

$base-font: "Quicksand", sans-serif;
$font-heading: "Russo One", sans-serif;

$primary: #0b9be2;
$secondary: #3ca0d0;
$base-font-color: #3e4345;
$border-radius: 8px;
