

    <section class="block-help">
      <div class="container">
        <div class="row">
          <div class="col-fifty">
           <h1>Остались вопросы?</h1>
           <p>Если у вас остались вопросы, вы готовы к покупке или хотите заказать
            пробную партию товаров, 
            звоните ― вместе мы найдем лучшее решение.</p>
            <button
            type="button"
            class="button-primary"
            data-toggle="modal"
            data-target="#visvat"
          >
            бесплатная консультация специалиста
          </button>
            
          </div>
          <div class="col-fifty">
            <img src="/img/help.png" alt="" srcset="">
          </div>
        </div>
      </div>
    </section>
