<div class="container">
        <h1>Покупайте не выходя из дома</h1>
        <div class="row">
          <div class="col-four">
            <div class="block-steps-item">
              <span class="block-steps-number">11</span>
              <span class="block-steps-caption">шаг</span>
              <span class="block-steps-desc">Выберете нужную продукцию</span>
            </div>
          </div>
          <div class="col-four">
            <div class="block-steps-item">
              <span class="block-steps-number">2</span>
              <span class="block-steps-caption">шаг</span>
              <span class="block-steps-desc">Оформите заказ</br> в три клика</span>
            </div>
          </div>
          <div class="col-four">
            <div class="block-steps-item">
              <span class="block-steps-number">3</span>
              <span class="block-steps-caption">шаг</span>
              <span class="block-steps-desc">Дождитесь звонка менеджера</span>
            </div>
          </div>
          <div class="col-four">
            <div class="block-steps-item">
              <span class="block-steps-number">4</span>
              <span class="block-steps-caption">шаг</span>
              <span class="block-steps-desc">Получите </br>Ваш заказ</span>
            </div>
          </div>
        </div>
      </div>